@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
}
:root {
   --main-color: #008148;
   --second-color: #1e3932;
}

section {
    padding: 50px 10%;
}
::selection {
  color: #ffff;
  background: var(--main-color);
}

nav {
    overflow-x: visible;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    margin: 0;
}

nav .logo {
    font-size: 1.rem;
    width: 35px;
    display: flex;
    position: relative;
    margin-left: -50px;
    top: -10px;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    padding-top: 10px;
    width: 40px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    padding: 5px 10px;
    font-weight: bold;
    transition: 0.15s;
    text-transform: uppercase;
}

nav a:hover {
    color: #036635 ;
}

#nav-button {
    display: none;
    width: 200px;
}

label {
    display: none;
}

header img {
  padding: 100px 0px;
  box-sizing: border-box;
  top: 60px;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* responsive */

@media only screen and (max-width: 736px) and (orientation: portrait) {

    nav {
        align-items: center;
    }

    nav .logo {
        width: 40%;
        position: absolute;
        left: 50px;
    }

    nav .logo img {
        padding-top: 20px;
    }

    nav ul {
        position: fixed;
        top: 50px;
        width: 100%;
        background: #ffff ;
        max-height: 0;
        overflow: hidden;
    }

    nav li {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #ffff;
    }

    nav a {
        width: 100%;
        display: block;
    }
    
    nav li:hover {
        background: #f0f0f0;
    }

    label {
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover {
        color: #036635 ;
    }

    nav #nav-button:checked~ul {
        max-height: 100%;
        transition: all is ease-out;
    }   
}

.home {
    width: 80%;
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
    
}

img {
    margin-right: 40px;
    width: 300px;
    height: auto;
}
.home-text {
    flex: 1 1 17rem;
}
.home img {
    flex: 1 1 17rem;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11px, 0);
    }
}
.home-text p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1 {
    font-size: 3.3rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--second-color);
    text-transform: italic;
    margin:  0.5rem 0 1.4rem;
}

.btn {
  border:2px solid var(--second-color);
  padding: 7px 18px;
  border-radius: 40px;
  font-weight: 500;
  max-width: 200px;
  margin:0;
}
.btn:hover {
  color: white;
  background: var(--second-color);
}
.heading{
  width: 100%;
  display: flax;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
  font-family: 'Roboto Condensed', sans-serif;
}
.heading h1{
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.about-img,
.beverage-img,
.freshfood-img {
  flex: 1 1 18rem;
}
.about-text,
.beverage-text,
.freshfood-text {
  flex: 1 1 18rem;
}
.about-text h2,
.beverage-text h2, 
.freshfood-text h2 {
  font-size: 1.5rem;
  color: var(--second-color);
  font-family: 'Arial', sans-serif;
}
.about-text p,
.beverage-text p, 
.freshfood-text p {
  font-size: 18px;
  margin: 0.5rem 0 1rem;
  text-align: justify;
  font-family: 'Playfair Display', serif;
  overflow-wrap: break-word;
}
.about-text span,
.beverage-text span, 
.freshfood-text span {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
.beverage {
  background-color: #ebdbc8;
}
 /* Gaya CSS untuk ikon sosial media */
 .social-media-icons {
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
    height: 60px;
    margin-top: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-media-icons li {
    display:inline;
    margin: 0px 10px;
  }
  
  .social-media-icons img {
    width: 30px;
    height: 30px;
    justify-content: center;
  }

  /* Gaya CSS untuk footer */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    margin-right: 10px;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  footer {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: flex;
    font-size: 5px;
  }
  
  footer p {
    margin: 0;
    font-size: 12px;
  }
/* Styling for mobile devices */
@media (max-width: 768px) {
  /* Navbar */
  nav ul {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    margin-bottom:20px;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  
  /* Label */
  label {
    margin-right: 0;
  }
  
  /* Home Section */

  .home-text {
    text-align: center;
  }
  .home-logo {
    text-align: center;
    margin-top: 20px;
  }
  .home-text h1 {
    margin-top: 10px;
  }
  .home-text h2 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  /* About Section */
  .about .container {
    flex-direction: column;
  }
  .about-img,
  .about-text {
    text-align: center;
  }
  /* Beverages Section */
  .beverage .container {
    flex-direction: column;
  }
  .beverage-text,
  .beverage-img {
    text-align: center;
  }
  
  /* About Section */
  .about-text p,
  .beverage-text p,
  .freshfood-text p {
    max-width: 90%;
  }
  
    .about-text h1,
  .beverage-text h1,
  .freshfood-text h1 {
    max-width: 90%;
  }
  
    .about-text h2,
  .beverage-text h2,
  .freshfood-text h2 {
    max-width: 90%;
  }
  .about-text span {
    max-width: 90%;
  }
  /* FreshFood Section */
  .freshfood .container {
    flex-direction: column;
  }
  .freshfood-img,
  .freshfood-text {
    text-align: center;
  }
  
  .btn {
    max-width: 90%;
  }
  /* Footer */
  .social-media-icons {
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .btn {
    max-width: 90%;
  }
}

/* Additional Styles */
@media (max-width: 480px) {
  /* Home Section */
  .home-text h1 {
    font-size: 28px;
  }
}

/* Styling for desktop view */
@media only screen and (min-width: 992px) {
  /* Home Section */
  .home {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .home-text {
    flex: 0 0 auto;
    width: 50%;
  }

  .home img {
    flex: 0 0 auto;
    width: 80%;
  }

  /* About Section */
  .about .container {
    flex-wrap: nowrap;
  }

  .about-img,
  .about-text {
    flex: 0 0 auto;
    width: 50%;
  }

  /* Beverages Section */
  .beverage .container {
    flex-wrap: nowrap;
  }

  .beverage-text,
  .beverage-img {
    flex: 0 0 auto;
    width: 50%;
  }

  /* FreshFood Section */
  .freshfood .container {
    flex-wrap: nowrap;
  }

  .freshfood-img,
  .freshfood-text {
    flex: 0 0 auto;
    width: 50%;
  }
}
/* CSS for Cookie Preferences Notification */


/* Windows */
@media (min-width: 768px) {
  #cookie-notification {
    display: none;
  }
}
